.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  max-width: 1920px;
  color: #030303;
  margin-left: auto;
  margin-right: auto;
  font-family: Tribute roman, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

h1 {
  color: #030303;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Henriette-700, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Henriette-700, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

a {
  color: #030303;
  font-family: Henriette-700, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

.container._2 {
  padding-left: 2vw;
  padding-right: 2vw;
}

.container-right {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.33%;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 14px 17px 14px 20px;
  font-family: Expressway-400, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  transition: background-color .3s;
}

.button:hover {
  color: #030303;
  background-color: #999;
  border-color: #fff;
}

.button.trans {
  color: #fff;
  background-color: #0198e6;
  border-color: #0198e6;
}

.button.trans:hover {
  background-color: #006993;
  border-color: #006993;
}

.button.submit {
  width: 50%;
  letter-spacing: 1px;
  text-transform: none;
  object-fit: fill;
  background-color: #030303;
  margin-bottom: 10px;
  margin-left: 25%;
  padding-bottom: 30px;
  transition-property: none;
  overflow: visible;
}

.button.submit:hover {
  color: #fff;
}

.button._2 {
  padding: 20px 60px;
  font-family: Expressway-700, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.body-full {
  max-width: 100%;
}

.section {
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/Artboard1-100.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.image {
  width: 100px;
  display: inline-block;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Futura-600, sans-serif;
  font-size: 110px;
  font-weight: 600;
  line-height: 110px;
}

.text-block {
  color: #fff;
  text-align: center;
  font-family: Expressway-700, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.div-block-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  display: flex;
}

.div-block-3 {
  display: flex;
}

.button-big {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  background-color: #152519;
  border: 2px solid #152519;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 25px 46px;
  font-family: Henriette-700, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  transition: background-color .3s;
}

.button-big:hover, .button-big.trans {
  color: #152519;
  background-color: #fff;
}

.button-big.trans:hover {
  color: #fff;
  background-color: #152519;
}

.link {
  color: #030303;
  font-family: Henriette-700, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #000;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Expressway-400, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(0, 0, 0, .5);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.d {
  margin-bottom: 5px;
}

.nav-link.trans {
  color: #fff;
}

.nav-dropdown {
  margin-left: 0;
  margin-right: 0;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.navbar {
  background-color: #fff;
}

.brix---hamburger-menu-bar-bottom {
  width: 52px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.brix---hamburger-menu-bar-bottom.b {
  background-color: #030303;
}

.brix---hamburger-menu-bar-top {
  width: 52px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.brix---hamburger-menu-bar-top.b {
  background-color: #030303;
}

.brix---hamburger-menu-wrapper {
  padding: 0;
  transition: transform .3s;
}

.brix---hamburger-menu-wrapper:hover {
  transform: scale(.96);
}

.brix---hamburger-menu-wrapper.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.brix---header-nav-link {
  color: #211f54;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  transition: color .3s;
}

.brix---header-nav-link:hover {
  color: #4a3aff;
}

.brix---header-nav-list-item {
  margin-bottom: 0;
  padding-left: 10px;
}

.brix---dropdown-link {
  width: 100%;
  color: #6e7191;
  align-items: center;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  transition: color .3s;
  display: flex;
}

.brix---dropdown-link:hover {
  color: #4a3aff;
}

.brix---dropdown-links-grid {
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---dropdown-pd {
  padding: 40px;
}

.brix---dropdown-card {
  min-width: 280px;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 20px;
  top: 32px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(20, 20, 43, .08);
}

.brix---dropdown-column-wrapper {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 32px;
  transform: translate(0);
}

.brix---dropdown-column-wrapper.w--open {
  transform: translate(-50%);
}

.brix---dropdown-chevron {
  width: 14px;
  margin-left: 6px;
}

.brix---dropdown-toggle {
  color: #211f54;
  align-items: center;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 20px;
  transition: color .3s;
  display: flex;
}

.brix---dropdown-toggle:hover {
  color: #4a3aff;
}

.brix---header-nav-menu-list {
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.brix---header-logo {
  max-width: 250px;
}

.brix---header-logo-link {
  transform-style: preserve-3d;
  padding-left: 0;
  transition: transform .3s, color .3s;
}

.brix---header-logo-link:hover {
  transform: scale3d(.96, .96, 1.01);
}

.brix---header-content-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brix---container-default {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---header-wrapper {
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.brix---header-wrapper.trans {
  background-color: rgba(0, 0, 0, 0);
}

.grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-2 {
  min-height: 302px;
  object-fit: cover;
}

.half-half {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  display: flex;
}

.line {
  height: 1px;
  background-color: #ddd;
}

.line._2 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.line._50 {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

.half--half {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
}

.story {
  margin-top: 40px;
}

.heading-2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30px;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 10px;
  display: flex;
}

.form-div {
  background-color: #f0f0f0;
  margin-top: 40px;
  padding: 30px 40px;
}

.heading-3 {
  text-align: center;
  font-family: Futura-600, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.html-embed-4 {
  width: 50%;
  text-align: center;
  background-color: #fff;
  border: 1px #d0d5dd;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.select-field {
  width: 50%;
  background-color: #fff;
}

.html-embed-5 {
  width: 50%;
  margin-left: 25%;
}

.text-block-2 {
  margin-top: 30px;
}

.text-block-2.c, .text-block-3, .text-block-4 {
  text-align: center;
}

.link-2 {
  color: #666;
  font-size: 13px;
  line-height: 21px;
  text-decoration: underline;
}

.text-block-5 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.text-block-5._2 {
  margin-top: 40px;
}

.div-block-5 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.italic-text {
  color: #5e5e5e;
  text-decoration: underline;
}

.div-block-6 {
  text-align: center;
}

.text-block-6 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Henriette-700, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.big-line {
  height: 6px;
  background-color: #030303;
  margin-bottom: 20px;
}

.grid-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  margin-top: 40px;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
}

.div-block-8 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-block-9 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-between;
  margin-top: 60px;
  display: flex;
}

.div-block-10 {
  width: 50%;
  display: block;
}

.text-block-7 {
  text-align: center;
  margin-top: 60px;
  font-family: Latine, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 51px;
}

.text-span {
  font-size: 14px;
  line-height: 22px;
}

.div-block-11 {
  width: 50%;
}

.italic-text-2 {
  font-family: Futura-500, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.link-3 {
  color: #444;
  font-family: Tribute roman, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
}

.text-block-8 {
  margin-bottom: 15px;
}

.footer {
  background-color: #152519;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bold-text {
  color: #fff;
}

.link-4 {
  color: #fff;
  margin-right: 20px;
  font-family: Expressway-700, sans-serif;
  line-height: 36px;
  transition: color .2s;
  display: block;
}

.link-4:hover {
  color: #ccc;
}

.link-4._2 {
  margin-bottom: 20px;
}

.link-4._3 {
  margin-right: 0;
  line-height: 26px;
}

.div-block-12 {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.div-block-13 {
  justify-content: center;
  align-items: center;
  display: block;
}

.link-5 {
  color: #fff;
  margin-bottom: 10px;
  font-family: Expressway-400, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: block;
}

.link-5:hover {
  color: #ccc;
}

.link-5.np {
  margin-bottom: 0;
}

.div-block-14 {
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-15 {
  text-align: center;
}

.paragraph {
  color: #fff;
  text-align: center;
  font-family: Expressway-400, sans-serif;
}

.div-block-16 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-4 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Expressway-700, sans-serif;
  font-size: 18px;
  line-height: 36px;
}

.div-block-17 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
}

.html-embed-6 {
  width: 60px;
}

.image-3 {
  width: 19px;
  height: 19px;
}

.hero-trans {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/Pizza_Banner.jpg');
  background-position: 0 0, 50% 100%;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
  display: flex;
}

.heading-5 {
  color: #fff;
}

.div-block-18 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.border {
  border: 3px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.link-6 {
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
}

.link-6:hover {
  color: #ccc;
}

.link-6._2 {
  margin-top: 40px;
  font-size: 18px;
  line-height: 26px;
  display: block;
}

.section-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-block-19 {
  justify-content: center;
  align-items: center;
  display: block;
}

.heading-6.p0 {
  margin-bottom: 0;
}

.div-block-20 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.grid-4 {
  width: 80%;
  grid-column-gap: 32px;
  grid-template-rows: auto;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
}

.text-block-9 {
  font-family: Henriette-700, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text-span-2 {
  font-family: Tribute roman, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.text-block-10 {
  font-size: 14px;
  line-height: 26px;
}

.div-block-21 {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  display: block;
}

.div-block-22 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-23 {
  margin-bottom: 60px;
}

.div-block-24 {
  justify-content: space-between;
  display: flex;
}

.im {
  display: block;
}

.l {
  font-size: 20px;
}

.im-sh {
  display: none;
}

.div-block-25 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.link-7 {
  font-size: 20px;
}

.border-s {
  border: 2px solid #030303;
  padding: 20px 10px;
}

.link-8 {
  font-family: Henriette-700, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.grid-5 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  display: grid;
}

.text-block-11 {
  margin-top: 40px;
  font-family: Tribute roman, sans-serif;
  font-size: 15px;
}

.link-9 {
  color: #fff;
  font-family: Expressway-400, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 991px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .container-right {
    padding-left: 5%;
  }

  .body-full {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-link.trans {
    color: #030303;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-2 {
    max-width: 728px;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .brix---hamburger-menu-bar-bottom {
    width: 44px;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .brix---hamburger-menu-bar-top {
    width: 44px;
    height: 3px;
  }

  .brix---hamburger-menu-wrapper {
    order: -1;
    transition: transform .3s;
  }

  .brix---hamburger-menu-wrapper:hover {
    transform: scale(.96);
  }

  .brix---hamburger-menu-wrapper.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .brix---header-nav-list-item {
    margin-bottom: 16px;
    padding-left: 0;
  }

  .brix---dropdown-pd {
    padding: 20px 0 14px;
  }

  .brix---dropdown-card {
    min-width: auto;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    border-radius: 0;
  }

  .brix---dropdown-card.w--open {
    position: static;
  }

  .brix---dropdown-column-wrapper {
    padding-top: 0;
    position: static;
  }

  .brix---dropdown-column-wrapper.w--open {
    transform: none;
  }

  .brix---header-nav-menu-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .brix---header-menu-wrapper {
    background-color: #fff;
    border-top: 1px solid #eff0f6;
    border-bottom: 1px solid #eff0f6;
    padding: 24px;
  }

  .brix---header-logo {
    max-width: 232px;
  }

  .brix---header-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .container, .container-right {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading {
    font-size: 70px;
    line-height: 70px;
  }

  .text-block {
    font-size: 16px;
    line-height: 24px;
  }

  .div-block-3 {
    flex-direction: column;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .brix---header-logo {
    max-width: 90%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .image-2 {
    min-height: 250px;
  }

  .half--half, .div-block-7 {
    grid-template-columns: 1fr;
  }

  .div-block-9 {
    flex-direction: column;
  }

  .div-block-10, .div-block-11 {
    width: 100%;
  }

  .div-block-14 {
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .grid-4 {
    flex: 1;
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: block;
  }

  .section {
    height: 850px;
  }

  .heading {
    font-size: 70px;
    line-height: 70px;
  }

  .text-block {
    font-size: 16px;
  }

  .div-block-3 {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .brix---header-nav-list-item {
    width: 100%;
    text-align: left;
  }

  .brix---header-logo {
    max-width: 84%;
  }

  .brix---container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-2 {
    min-height: 150px;
  }

  .link-6 {
    font-size: 9px;
    line-height: 16px;
  }

  .div-block-19 {
    flex-direction: row;
  }
}

#w-node-b901b8f0-cd48-c538-712b-4ca0675d3192-94fb07d9, #w-node-_80b71b4f-0b61-a665-ea9a-337c713027e8-94fb07d9, #w-node-_4d4a2683-a8d3-46a8-880d-e96b0a04aede-94fb07d9, #w-node-d658aa0e-2f95-1e80-f583-34ce2de24d54-94fb07d9, #w-node-_30592d29-63af-a7b1-f612-6b96de612540-94fb07d9, #w-node-ecfa1282-5a13-b378-de60-346b34bd1fcb-94fb07d9, #w-node-ec7dd91e-af98-687c-fb6c-538212704fad-94fb07d9, #w-node-_9480c864-97d3-98fa-07cd-43612dc77aed-94fb07d9, #w-node-_39787db5-e986-0078-cd27-510f3bccd9a6-94fb07d9, #w-node-_8232bf89-7051-e6b0-1b50-8aadd65fe091-94fb07d9, #w-node-_014d8b57-b21b-9c6c-d186-ec94fe58f975-94fb07d9, #w-node-b901b8f0-cd48-c538-712b-4ca0675d3192-57b66567, #w-node-_80b71b4f-0b61-a665-ea9a-337c713027e8-57b66567, #w-node-_4d4a2683-a8d3-46a8-880d-e96b0a04aede-57b66567, #w-node-d658aa0e-2f95-1e80-f583-34ce2de24d54-57b66567, #w-node-_30592d29-63af-a7b1-f612-6b96de612540-57b66567, #w-node-ecfa1282-5a13-b378-de60-346b34bd1fcb-57b66567, #w-node-ec7dd91e-af98-687c-fb6c-538212704fad-57b66567, #w-node-_9480c864-97d3-98fa-07cd-43612dc77aed-57b66567, #w-node-_39787db5-e986-0078-cd27-510f3bccd9a6-57b66567, #w-node-_8232bf89-7051-e6b0-1b50-8aadd65fe091-57b66567, #w-node-_014d8b57-b21b-9c6c-d186-ec94fe58f975-57b66567, #w-node-b901b8f0-cd48-c538-712b-4ca0675d3192-25aae989, #w-node-_80b71b4f-0b61-a665-ea9a-337c713027e8-25aae989, #w-node-_4d4a2683-a8d3-46a8-880d-e96b0a04aede-25aae989, #w-node-d658aa0e-2f95-1e80-f583-34ce2de24d54-25aae989, #w-node-_30592d29-63af-a7b1-f612-6b96de612540-25aae989, #w-node-ecfa1282-5a13-b378-de60-346b34bd1fcb-25aae989, #w-node-ec7dd91e-af98-687c-fb6c-538212704fad-25aae989, #w-node-_9480c864-97d3-98fa-07cd-43612dc77aed-25aae989, #w-node-_39787db5-e986-0078-cd27-510f3bccd9a6-25aae989, #w-node-_8232bf89-7051-e6b0-1b50-8aadd65fe091-25aae989, #w-node-_014d8b57-b21b-9c6c-d186-ec94fe58f975-25aae989, #w-node-ae12ab09-a882-ff93-a4a4-33c69263f24f-9263f22f, #w-node-ae12ab09-a882-ff93-a4a4-33c69263f2e2-9263f22f, #w-node-ae12ab09-a882-ff93-a4a4-33c69263f343-9263f22f, #w-node-ae12ab09-a882-ff93-a4a4-33c69263f344-9263f22f, #w-node-ae12ab09-a882-ff93-a4a4-33c69263f35a-9263f22f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Futura-700';
  src: url('../fonts/Futura-Bold-font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura-400';
  src: url('../fonts/Futura-Book-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura-500';
  src: url('../fonts/futura-medium-bt.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura-300';
  src: url('../fonts/futura-light-bt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura-900';
  src: url('../fonts/Futura-Extra-Black-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura-600';
  src: url('../fonts/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latine';
  src: url('../fonts/Latine.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Expressway-400';
  src: url('../fonts/expressway-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Expressway-700';
  src: url('../fonts/ExpresswayRg-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tribute roman';
  src: url('../fonts/Tribute-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Henriette-400';
  src: url('../fonts/Henriette-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Henriette-700';
  src: url('../fonts/Henriette-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}